<div class="d-flex fs-2">
    <div class="my-auto">
        <img class="iconSwitch" src="./icons/file.svg" alt="loginIcon"> File Uploads
    </div>
</div>



<div class="row">
    <div class="mt-4 col-4">
        <div class="table-responsive glassEffect my-4">
            <table class="table table-striped h-100 mb-0">
                <thead>
                    <tr>
                        <th scope="col">File Name</th>
                        <th scole="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each eegdata}}
                    <tr class="searchData">
                        <td>{{this.filename}}</td>
                        <td>
                            <a href="/fileupload/{{this._id}}" class="btn btn-info viewbtn">View</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>