<div class="d-flex fs-2">
    <div class="my-auto">
        <img class="iconSwitch" src="./icons/file.svg" alt="loginIcon"> File Uploads
    </div>
</div>


<div class="row mt-4">
    <div class="table-responsive glassEffect my-4">
        <table class="table table-striped h-100 mb-0">
            <thead>
                <tr>
                    <th scope="col">File Name</th>
                    <th scope="col">Output</th>
                    <th scole="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="searchData">
                    <td>file1.numpy</td>
                    <td>Thank You</td>
                    <td>
                        <a href="#" class="btn btn-info">Download</a>
                    </td>
                </tr>
                <tr class="searchData">
                    <td>file2.numpy</td>
                    <td>Help</td>
                    <td>
                        <a href="#" class="btn btn-info">Download</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>